################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RateMyAnimal/RateMyAnimal.Infrastructure/obj/Debug/net6.0/refint/RateMyAnimal.Infrastructure.dll
