<h1>Coming Soon:</h1>
<p>Create new categories without having to leave the animal classification.</p>
<p>Remove ratings.</p>
<p>Unique categories.</p>
<p>Authentication.</p>
<p>Classification history in the “e-commerce” model.</p>
<p>More friendly theme.</p>

<h1>TO DO:</h1>
<p>Tests;</p>
<p>Docker: 2 containers, separate webApp;</p>
<p>Unavailable external service handling;</p>
<p>Concurrence handling;</p>
<p>Change base colors in Bootstrap;</p>
<p>ViewModels and calls refactoring;</p>
<p>Error handling;</p>
<p>Empty list handling;</p> 